Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
numpy>=1.9.2
matplotlib>=1.4.3
pandas>=0.19
nltk>=3.4.5
tensorflow==2.6.4
Keras==2.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
